.grid-icons {
    margin: 0 auto;
    padding: 0;

    max-width: 50vw;

    display: flex;
    flex-direction: row;
    gap: 6vw;
    flex-wrap: wrap;
}

.grid-icons svg {
    width: 20vw;
    height: auto;
}

@media screen and (min-width: 650px) {
    .grid-icons {
        margin: 0 auto;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 4vw;
        flex-wrap: wrap;
    }

    .grid-icons svg {
        width: 10vw;
        height: auto;
    }
}

@media screen and (min-width: 900px) {
    .grid-icons {
        margin: 0 auto;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 3vw;
        flex-wrap: wrap;
    }

    .grid-icons svg {
        width: 7vw;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .grid-icons {
        margin: 0 auto;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 2vw;
        flex-wrap: wrap;
    }

    .grid-icons svg {
        width: 6vw;
        height: auto;
    }
}

@media screen and (min-width: 1300px) {
    .grid-icons {
        margin: 0 auto;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 2vw;
        flex-wrap: wrap;
    }

    .grid-icons svg {
        width: 5vw;
        height: auto;
    }
}

@media screen and (min-width: 1450px) {
    .grid-icons {
        margin: 0 auto;
        padding: 0;

        display: flex;
        flex-direction: row;
        gap: 2vw;
        flex-wrap: wrap;
    }

    .grid-icons svg {
        width: 4vw;
        height: auto;
    }
}